  .App {
    text-align: center;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5) ), url('./images/olga-thelavart-1nrY9CLAGcI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
  }
  
  .App h1 {
    font-family: cursive;
    margin-top: 0;
    font-size: 60pt;
  }
  
  .title {
    font-size: 7vw;
    padding-top: 10px;
    color:#4E3830;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .App p {
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
  }

  .navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #4E3830;
  }
  
  .mainNav {
    display: contents;
    padding: 8px;
    background-color: #D1C1B4
    
  }

  .categories {
    display: inline-block;
    padding: 8px;
    color: black;
    
  }
  
  li:hover {
    background-color: #D1C1B4;
  }
  
  .homepage {
    padding-top: 50px;
  }

  .homepage h1 {
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 35pt;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;
    padding-top: 70px;
  }
  
  .homepage p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    padding-bottom: 2px;
  }

  .homepage img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding-bottom: 500px;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .aboutpage {
    width: 50%;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 15pt;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .aboutpage img {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding-bottom: 500px;
  }
  
  .aboutpage h1 {
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 35pt;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;
    padding-top: 70px;
  }
  
  .shop {
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 35pt;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;
    padding-top: 70px;
  }
  
  .products {
    padding-bottom: 500px;
  }

  .products img {
    width: 27%;
    height: 27%;
    padding-top: 10px;
    margin-left: -40pc;
  }

  .products2 img {
    width: 28%;
    height: 28%;
    padding-top: 10px;
    margin-left: 100px;
    margin-right: 50px; 
    /* display: inline-block;
    justify-content: center; */
    
  } 

   .products3 img {
    width: 28%;
    height: 228%;
    margin: 0 auto;
    padding-top: 10px;
    margin-left: 30px;
  } 
  
  .Shop h1 {
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 35pt;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;
    padding-top: 70px;
  }
  
  .shop ul {
    list-style-type: none;
    margin: 0 auto;
    /* padding: 0; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
    padding-bottom: 500px;
    color: #4E3830;
    text-align: center;
  }
  
  .shop li {
    font-size: 15pt;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .cartpage h1{
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 35pt;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 500px;
    padding-top: 70px;
  }

  .signup h1 {
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 35pt;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 15px;
    padding-top: 70px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1px !important;
    margin-left: 1px !important;
  }

  form {
    display: block;
    margin-top: 0em;
    padding-bottom: 500px !important;
  }

  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    
  }

  div.row {
    padding-bottom: 50px !important;
  }

  a {
    color: black !important;
  
  }

  .cleanser h1 {
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 20pt;
    color: white;
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-top: 10px;
  }
  .tonerPage h1 {
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 20pt;
    color: white;
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-top: 10px;
  }
  .essencePage h1 {
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 20pt;
    color: white;
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-top: 10px;
  }
  .eyesPage h1 {
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 20pt;
    color: white;
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-top: 10px;
  }
  .moisturizerPage h1 {
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 20pt;
    color: white;
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-top: 10px;
  }
  .serumPage h1 {
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 20pt;
    color: white;
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-top: 10px;
  }
  .sunscreenPage h1 {
    border-bottom: 2px #D1C1B4 solid;
    margin-inline-start: 6rem;
    margin-inline-end: 6rem;
    font-size: 20pt;
    color: white;
    font-family: sans-serif;
    padding-bottom: 15px;
    padding-top: 10px;
  }

  .categories {
    display: contents;
  } 